.row{   

    background-color:black;
    color:red;
    font-size:35px;
}
.headshot{
    width:10%;
   
}
.mid{
    background-color:red;
    color:black;
    align-items:center;
    font-size:25px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}

.row{
    display: flex;
    justify-content:space-around;
}

